*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    line-height: 1.5rem;
}
a{
    background: white;
}
h2{
    text-align: center;
    padding: 2rem;
}
.btn{
    padding: 0.2rem;
    background-color: rgb(97, 175, 97);
    border: 2rem;
    border-color: black;
    border-radius: 2px;
    color: azure;
    margin-top: 3rem;
}
.btn:hover{
    background-color: rgb(38, 78, 44);
}
.header-init{
    background-image: url(./temp-img/diverse-journalists-hosting-morning-show.jpg);
    background-position: 75% 25%;
    background-size: cover;
    height: 300px;
    color: white;
    display: flex;
    margin: 0;
    padding: 0;
}
.site-init{
    text-align: center;
    margin: 2px;
    padding: 2px;
    display: flexbox;
    flex-direction: column;
    justify-content: center;

}
.sun-icon{
    font-size: 75px;
    margin-top: 20px;
}
img{
    max-width: 50%;
    height: 120px;
    width: 120px;
}
.container{
    margin-top: 1rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    flex-direction: row;
}
.main-flex-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    height: 200px;
}
.main-flex-box a:hover{
    text-decoration: underline;
}
.main-flex-box p{
    line-height: 1.5rem;
    margin-top: 2rem;

}
.main-flex-box p:hover{
    text-decoration: solid;
}

.main-flex-box a{
    color: black;
    text-decoration: none;
}
.display-inline-block{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 0.5rem;
}

.display-inline-block > div{
    flex: 1;
    padding: 1rem;
}

.display-inline-block img {
    margin-right: 1rem;
    justify-content: right;
}

hr{
    margin-top: 1rem;

    height: 3px;
}

footer{
    margin-top: 100px;
    text-align: center;
    justify-content: center;
    height: 100px;
    color: white;
    background-color: rgb(0, 0, 0);
}

footer nav{
    display: flexbox;
    margin: 5px;
    padding: 5px;
}