*{
    margin:0;
    padding:0;
}
p{
    line-height: 1.5rem;
}
a{
    background: white;
}
h2{
    text-align: center;
    padding: 2rem;
}
.btn{
    padding: 0.2rem;
    background-color: rgb(97, 175, 97);
    border: 2rem;
    border-color: black;
    border-radius: 2px;
    color: azure;
    margin-top: 3rem;
}
.btn:hover{
    background-color: rgb(38, 78, 44);
}
.header-init{
    background-image: url(./temp-img/diverse-journalists-hosting-morning-show.jpg);
    background-position: 75% 25%;
    background-size: cover;
    height: 300px;
    color: white;
    display: flex;
    margin: 0;
    padding: 0;
}
.site-init{
    text-align: center;
    margin: 2px;
    padding: 2px;
    display: flexbox;
    flex-direction: column;
    justify-content: center;
}
.sun-icon{
    font-size: 75px;
    margin-top: 20px;
}
img{
    max-width: 50%;
    height: 175px;
    width: 175px;
}
.container{
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    display: inline-flex;
    box-sizing: border-box;
}
.flex-column{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}
.display-inline-block{
    display: inline-block;
    vertical-align: top;
}